.footer {
  background-color: black;
  margin-bottom: 0;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rights {
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
  line-height: 35px;
}

.rights > span {
  color: red;
}

ul.icons {
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
}

ul.icons a {
  color: gray;
  display: inline-block;
  width: 2em;
  font-size: 1.25em;
  text-align: center;
  border: 0;
  filter: drop-shadow(0px 0px 9px red);
  transition: 0.6s;
}

ul.icons a:hover {
  filter: drop-shadow(0px 0px 11px red);
}

.twitter:hover {
  color: #00acee;
  transition: 0.6s;
}

.github:hover {
  color: white;
  transition: 0.6s;
}

.mail:hover {
  color: #bb001b;
}

.youtube:hover {
  color: #ff0000;
}

#heart {
  width: 30px;
  color: #bb001b;
  margin-bottom: -2px;
  animation-name: heart-beat;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes heart-beat {
  from {
    font-size: 15px;
  }
  to {
    font-size: 20px;
  }
}
