@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
body {
  margin: 0 0;
  background-color: rgb(1, 0, 53);
  color: white;
  font-family: "Roboto", sans-serif;
}

.main-content {
  margin: 3rem 5%;
}

section > h2 {
  text-align: center;
}

section {
  margin: 6rem auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  font-family: "Roboto";
}
