#menu {
  display: flex;
  gap: 1rem;
  justify-content: left;
  margin-left: 1rem;
  color: grey;
}

#menu > * {
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.3s;
}

#menu > *:not(.active) {
  box-shadow: 0px 0px 3px 0.4px rgba(255, 0, 0, 0.7);
}

#menu > *:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px 4px rgba(255, 0, 0, 0.7);
  transition: 0.3s;
}

.active {
  box-shadow: 0px 0px 6px 4px rgba(255, 0, 0, 0.7);
  color: red;
}
